<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Sunflower:wght@500&display=swap"
          rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <style>
        * {
            font-family: 'Nanum Myeongjo', serif;
            font-family: 'Sunflower', sans-serif;
        }

        .logo {
            /*background-color: #6daa6d;*/
            margin: 40px auto;
            width: 500px;
            height: 100px;
            background-image: url('../static/logo.png');
            background-position: center;
            background-size: 800px;
        }

        .listcss {
            margin-bottom: 10px;
            border: 1px solid;
            border-color: aqua;
            border-radius: 5px;
        }
    </style>

    <script>
        function pluslist() {
            window.location.href = "/write"
        }

        function sortbtn() {
            let now = $('#listSortSel').val();
            let id = '{{userId}}';
            $("#listbox").empty();

            $.ajax({
                type: "POST",
                url: "/api/sort",
                data: {
                    id_give: id, // 유저 ID
                    action_give: now // 선택된 2차 정렬(select)의 현재 값
                },
                success: function (response) {
                    // 서버단에서 넘어온 String을 JSON으로 파싱
                    const data = JSON.parse(response.result)
                    var days = ['월 ', '화 ', '수 ', '목 ', '금 ', '토 ', '일 ', '매주']


                    for (let i in data) {
                        let _id = data[i]["_id"]["$oid"]
                        let daystring = ''
                        for (let j in data[i]["day"]) {
                            if (data[i]["day"][j] === "true") {
                                daystring += days[j]
                            }

                        }
                        let temp_html = `
                        <div class="listcss">
                            <input type="checkbox" name="delcheck" value= ${data[i]["_id"]["$oid"]} >
                         <p>${daystring}</p>
                        <p>${data[i]["subject"]}</p>
                        <p>${data[i]["time"]}</p>
                        <p>${data[i]["content"]}</p>
                        </div>
                        `
                        $("#listbox").append(temp_html);
                    }
                }
            })
        }

        function delbtn() {
            var obj_length = document.getElementsByName("delcheck").length;
            var arr = [];
            for (var i = 0; i < obj_length; i++) {
                if (document.getElementsByName("delcheck")[i].checked == true) {
                    arr.push(document.getElementsByName("delcheck")[i].value)
                }
            }
            $.ajax({
                type: "POST",
                url: "/api/remove",
                data: {
                    remove_list_give: arr,
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert('삭제되었습니다.')
                        window.location.href = '/'
                    } else {
                        alert(response['msg'])
                    }
                }
            })
        }

        function allbtn() {
            var obj_length = document.getElementsByName("delcheck").length;
            var arr = [];
            for (var i = 0; i < obj_length; i++) {
                document.getElementsByName("delcheck")[i].checked = true
            }
        }

        function changeremove() {
            $("#afterGroup").css("display", "inline")
            $("#removebtn").css("display", "inline")
            $("#beforeGroup").css("display", "none")
            // $("#removebtn").css("display","none")
        }

        function backbtn() {
            $("#afterGroup").css("display", "none")
            $("#removebtn").css("display", "none")
            $("#beforeGroup").css("display", "inline")
        }

    </script>

</head>

<body>
<div class="logo"></div>

<div class="container">
    <div class="btns-group">
        <div class="group before-group" id="beforeGroup">
            <button type="button" onclick="pluslist()" class="login_button">추가</button>
            <button data-mode="on" onclick="changeremove()" class="changeremove" id="removeModeBtn">삭제</button>
        </div>
        <div class="group after-group" id="afterGroup" style="display: none">
            <button class="allclick" onclick="allbtn()" id="allSelBtn">전체선택</button>
            <button class="button" onclick="backbtn()" id="backBtn">뒤로가기</button>
        </div>
    </div>


    <div class="select">
        <select id="listSortSel">
            <option value="normal">입력순</option>
            <option value="fast">시간빠른순</option>
            <option value="week">매주 우선순</option>
        </select>
        <button class="sortbtn" onclick="sortbtn()" data-mode="" id="todayFilterBtn">오늘할일 보기</button>
    </div>


    <div id="listbox"></div>
    <button data-mode="on" type="button" class="removebtn" style="display: none" onclick="delbtn()" id="removebtn">삭제
    </button>
</div>
</body>
</html>